.navigation__search-button {
    color: #151617;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 1024px) {
    .navigation__search-button {
        cursor: pointer;
        transition: 0.3s;
    }

    .navigation__search-button:hover {
        opacity: 0.5;
    }
}