.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    right: -100%;
    background-color: white;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

@media screen and (min-width: 1024px) {
    .popup {
        width: 500px;
        right: -500px;
    }
}