.lang {
    padding: 8px 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

@media screen and (min-width: 1024px) {
    .lang {
        cursor: pointer;
        transition: 0.3s;
    }

    .lang:hover {
        background-color: #F1F8FE;
    }
}