.lang-switcher__button {
    border: none;
    padding: 0 8px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: 0.3s;
}

@media screen and (min-width: 1024px) {
    .lang-switcher__button {
        cursor: pointer;
    }

    .lang-switcher__button:hover {
        border: 2px solid rgba(131, 188, 255, 0.50);
        background: rgba(29, 125, 237, 0.10);
    }
}