.lang-switcher__button {
    border: none;
    padding: 0 8px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: 0.3s;
}