.submenu__back-button {
    margin: 0 30px 41px 9px;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    color: #151617;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

@media screen and (min-width: 1024px) {
    .submenu__back-button {
        cursor: pointer;
        transition: 0.3s;
    }

    .submenu__back-button:hover {
        opacity: 0.5;
    }
}